/**
 * @name Servers Panel
 * @author Quad
 * @description Replaces the usual server list with a comfortable panel that opens when hovering the cursor
 * @version 0.0.1
 * @source https://github.com/quad58/ServersPanelTheme
 * @invite AmwzWySsRb
 */

@import url("https://raw.githubusercontent.com/quad58/ServersPanelTheme/main/main.css");

/* SETTINGS */
:root {
	/* GRID SETTINGS */
    --qsp-rows: 20; /* Rows count | DEFAULT: 20 */
    --qsp-columns: 5; /* Columns count | DEFAULT: 5 */
    --qsp-grid-flow: row; /* Flow | OPTIONS: column, row | DEFAULT: row */

	/* ANIMATION SETTINGS */
    --qsp-animation-duration: 0.1s; /* Duration | DEFAULT: 0.1s */
    --qsp-animation-delay: 75ms; /* Delay | DEFAULT: 75ms */
}
